<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        {% endblock %}
    </head>
    <body class="wrapper">
    <div class="top-part">
        {% block header %}{% endblock %}
    </div>
    <div class="middle-part">
        {% block body %}{% endblock %}
    </div>
            <footer class="footer">
                {% block footer %}
                {% endblock %}
            </footer>
            {% block javascripts %}{% endblock %}
    </body>

</html>
