@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #4c86c7;
}

a:hover {
  text-decoration: underline;
}
