.episode {
  padding-bottom: 3rem;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid blue;
    color: #4c86c7;
  }

  &__title {
    margin: 0;
  }

  &__main {
    padding-top: .5rem;
  }

  &__download {
    font-size: 10px;
  }
}

