<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />


    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/dashboard.css') }}">
    {% endblock %}
</head>

<body>
<main class="main">

    <aside class="sidebar">
        {% include 'admin/_partials/sidebar.html.twig' %}
    </aside>

    <section class="wrapper">
        {% block body %}{% endblock %}
    </section>
</main>

</body>


