{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li><a href="{{ path('admin') }}">Dashboard</a></li>
        <li><a href="{{ path('admin_episodes') }}">Episodes</a></li>
        <li><a href="{{ path('admin_podcast', {id: '1'  }) }}">Podcast</a></li>
        <li><a href="{{ path('admin_settings') }}">Settings</a></li>
    </ul>
</div>
{% endblock %}
