{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="title">
        <h3>Episode Management</h3>
    </div>
    <ol>
        {% for episode in episodes|reverse %}
            <li><a href="{{ path('admin_show_episode', {id: episode.id}) }}">{{ episode.title }}</a></li>
        {% endfor %}
    </ol>

    <a href="{{ path('admin_create_episode') }}" id="episode_save">Create New</a>
{% endblock %}
