{% extends 'admin/base.html.twig' %}

{% block body %}
    <ul>
        {% for episode in episodes %}
            <li><a href="{{ path('admin_show_episode', {id: episode.id}) }}">{{ episode.title }}</a></li>
        {% else %}
            <li>Looks like there are no episodes, please
                <a href="{{ path('admin_create_episode') }}">click here</a> to create your first one :)
            </li>
        {% endfor %}
    </ul>
{% endblock %}
