{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/login.css') }}">
{% endblock %}


{% block body %}
    <p>Invalid or expired invitation token</p>
{% endblock %}
