{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/login.css') }}">
{% endblock %}


{% block body %}
    <p>User has been created successfully</p>
    <p>You can use either {{ username }} or {{ email }} together with your password to login</p>
{% endblock %}
