<div class="header__title-container">
    <h2 class="header__title">{{ podcast.title }} --- {{ podcast.description }} </h2>
</div>
<div class="header__subscription-buttons">
    <a class="header__subscription-buttons-anchor" href="{{ path('rss') }}"><i class="fas fa-rss-square"></i></a>
</div>
