<h1 class="header__title">{{ podcast.title }}</h1>
<div class="header__subscription-buttons">
    <a href="{{ path('rss') }}"><i class="fas fa-rss-square"></i></a>
</div>
<p class="header__description">{{ podcast.description }}</p>