<div class="header__title-container">
    <h2 class="header__title">{{ podcast.title }} </h2>  <p class="header__description has-hide">{{ podcast.description }}</p>
</div>
<div class="header__menu">
    <ul class="header__menu-list">
        <li class="header__menu-list-element">
            <a class="header__menu-list-element-anchor" href="{{ path('rss') }}"><i class="fas fa-rss-square"></i></a>
        </li>
        <li class="header__menu-list-element">
            <a class="header__menu-list-element-anchor" href="{{ path('index') }}">Home</a>
        </li>
    </ul>
</div>