<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />


        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/site.css') }}">
        {% endblock %}
    </head>
    <body class="wrapper">
            <header class="header">
                {% block header %}{% endblock %}
            </header>
            <div class="main">
                {% block body %}{% endblock %}
            </div>
            <footer class="footer">
                {% block footer %}
                {% endblock %}
            </footer>
            {% block javascripts %}{% endblock %}
    </body>

</html>
