
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <a href="{{ path('admin_episodes') }}">Episode Management</a>
        </li>
        <li class="sidebar__item">
            <a href="{{ path('admin_podcast', {'id': 1}) }}">Podcast Management</a>
        </li>
    </ul>
