<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />


        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/installation.css') }}">
        {% endblock %}
    </head>
    <body class="wrapper">
            <main>
                {% block body %}{% endblock %}
            </main>
            {% block javascripts %}{% endblock %}
    </body>

</html>
